/* My Scores */

#Title {
  text-align: center;
}

.word-font {
	color: black
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;	
}

.row {
	position: relative;
	left: 23em;
	bottom: 7em;
}

.std-indent {
	position: relative;
	left: 19px;
}

#disabledInput {
	width: 5%;
}

.std-style {
	position: relative;
	bottom: 7em;
	left: 27em;
}