@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*{margin:0; padding:0}
body {
	font-family: 'Source Sans Pro', sans-serif
}
.form{
	width:400px; 
	margin:50px auto; 
	background:white;
}
.header{
	height:44px; 
	background:white
}
.header h1{
	margin-top: 50px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 300%;
}
.header h2{
	height:44px; 
	line-height:44px; 
	color:purple; 
	text-align:center
}
.btn{
	height:40px; 
	border:none; 
	background:#4E2A84;
	width:13%; 
	outline:none; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size:20px; 
	font-weight:bold; 
	color:white; 
	border-bottom:solid 3px #093; 
	border-radius:3px; 
	border:1px solid white;
	cursor:pointer
}
.btn:hover{
	background-color: 	#9400D3;
	color:white;

}
.btn:active{
	transform: translateY(4px);
}
.buttonholder{
	text-align: center;
}