/* Login Page */
header {
	height: 3em;
	position: relative;
	top: 4em;
	color: black;
	text-align: center;
	font-family: 'Actor';
	font-size: 20px;
}

.container {
	position: relative;
	top: 2em;
	left: 23em;
}

input[type=text], input[type=password] {
	width: 43%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


#login {
	width: 43%;
	font-family: 'Actor';
	font-size: 17px;	